body{
    background-color: black;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
    /*background-color: rgba(56, 56, 56, 0.5);*/
    background-color: black;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.header{
    
    margin-bottom: 100px;
}
.profile-photo{
        float: right;
}
.pusto{
    float: none;
    height: 30px;
}
.name{
    font-size: 30px;
    text-align: center;
}

.nav-menu {
    display: flex;
	list-style-type: none;
	padding: 0px;
	margin: 0 0 10px 0;
	justify-content: flex-end;
	align-items: center;
}
.main{
    display: flex;
    font-size: 25px;
    background-color: rgba(185, 185, 185, 0.5);
    color: rgb(0, 191, 255);
    border-radius: 50px 50px 0px 0px;
}
.article{
    width: 500px;
    padding: 15px;
    text-align: justify;
}
.aside{
    width: 500px;
    padding: 15px;
}
.footer{
    display: flex;
    height: 100px;
    background-color: white;
    border-radius: 0px 0px 50px 50px;
    color: black;
    flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.nav-item{
    font-size: 20px;
}
.nav-link{
    display: block;
	height: 38px;
	line-height: 38px;
	padding: 0px 10px;
}
a:link.nav-link, a:visited.nav-link {
	color: white;
	text-decoration: none;
	background-color: black;
}
a:hover.nav-link {
	color: rgb(0, 191, 255);
	background-color: rgba(185, 185, 185, 0.5);;
    font-weight: bold;
}
a:active.nav-link {
	color:red;
}
.section-header{
    border-bottom: solid 2px white;
    text-align: center;
    color: white;
    
}
.code{
}
.contacts_ul, .Languages_ul{
    font-weight: bold;
}
.footer-year, .footer-github, .footer-rsschool{
   padding: 0px 40px;
}
.about1{
    display: none;
}
